.box1{
    padding: 5px;
    border: 2px solid;
    margin: 10px 50px;
    height: 300px;
    width: 50%;
}
.box2{
    padding: 5px;
    border: 2px solid;
    margin: 10px 50px;
}
.box2:hover{
    background: #ff4584;
    color: #ffffff;
}

section div{
    display: inline-block;
}


.hello2{
    background-color: green;
}
.hello1{
    background-color: red;
}